<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>My blog 📖</title>
  </head>
  <body>
    <div class="px-2 py-3 my-3 px-md-4 py-md-5 my-md-5 text-center">
      <h1 class="display-5 fw-bold">
        <i>Welcome to your personal blog!</i>
      </h1>
    </div>

    <% if(locals.blogs.length) { console.log("blogs is not empty"); %>
    <div class="blog-container">
      <% blogs.forEach((blog) => { %>
      <div class="btn-group blog-card p-3 mx-2 column-gap-4">
        <button type="button" class="btn">
          <a href="/blogs/<%= blog.id %>">
            <p class="blog-title"><%= blog.title %></p>
          </a>
        </button>

        <button
          type="button"
          class="dropdown-toggle dropdown-toggle-split options-button"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        ></button>
        <div class="dropdown-menu">
          <form action="/blogs/<%= blog.id %>/edit" method="POST">
            <button type="submit" class="dropdown-item">Edit</button>
          </form>
          <form action="/blogs/<%= blog.id %>/delete" method="POST">
            <button type="submit" class="dropdown-item">Delete</button>
          </form>
        </div>
      </div>
      <% }) %>
    </div>
    <% } else { console.log("blogs is empty"); %>
    <div class="blog-container empty">
      <p>You have not posted any blogs yet.</p>
    </div>
    <% } %>

    <footer class="py-3 my-4">
      <p class="nav justify-content-center mb-3">
        <i>Thanks for stopping by!</i>
      </p>
      <p class="text-center text-body-secondary">© 2025</p>
    </footer>

    <form action="/create" method="GET">
      <button type="submit" class="add-blog">
        <i class="fa-solid fa-plus icon"></i>
      </button>
    </form>

    <script
      src="https://kit.fontawesome.com/8920ab54ff.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
